@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color:rgb(170, 110, 243);
}

header{
    background-image: url(../images/blu.jpg);
    background-size: cover;
    background-position-y: bottom;
    width: 960px;
    height: 200px;
    padding: 20px;
    border-width: 5px;
    border-color:black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
    margin-bottom: 50px;
}

main{
    background-color: rgb(193, 219, 243);
    width: 970px;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

footer{
    background-color: blanchedalmond;
    width: 1010px;
    height: 100px;
    padding: 20px, 20px, 20px, 20px; 
    border-top-width: 5px;
    border-top-color: plum;
    border-top-style: dotted;
    margin: 0 auto;
}


h1{
    background-color: rgba(199, 31, 171, 0.712);
}

h2{
    color:blueviolet;
    text-align:center
    font-family: cursive; 
}


p{
    color: #fffff;
}

li{
    font-weight:bold;
}

ul{
    background-color: purple;
}

ul li{
    color: rgb(49, 10, 13);
    list-style:circle
}

ol li{
    font-weight:bold;
}

a{
    text-decoration: none;
    color:aqua;
}

a:hover{
    text-decoration: underline;
    color: aquamarine

}

nav{
    background-color: black;
    padding: 20px;
    width: 350px;
    margin: 0 auto;
}

nav a{
    font-size: 20px;
    color: blue;
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav a:hover{
    text-decoration: none;
    color: white
}

.leftnav{
    margin-left: 20px;
}


.centerImage{
    width: 300px;
    display: block;
    margin: 0 auto;
}

.imageGallery{
    width: 300px;
    border-style: solid;
    border-color: white
    border-width: 10px 10px 10px 10px;
}