@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(186, 250, 250);
}

header{
    background-image: url(../images/blu.jpg);
    background-size: cover;
    background-position-y: top;
    width: 1000px;
    height: 250px;
    padding: 20px;
    border-width: 7px;
    border-color:black;
    border-style: ridge;
    margin: 0 auto;
    margin-top: -8px;
}

main{
    background-color: azure;
    width: 1000px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    border-width: 7px;
    border-color:black;
    border-style: ridge;
    border-top-color: rgb(51, 51, 52);
}

footer{
    width: 1000px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    border-width: 7px;
    border-color:black;
    border-style: ridge;
    background-image: url(../images/blu.jpg);
    background-size: cover;
    background-position-y: bottom;
    text-align: center;
    border-top-color: rgb(51, 51, 52);
}

h1{
    font-family: "Grandstander", system-ui;
    font-weight: 600;
    font-style: normal;
}

h2{
    font-family: "Grandstander", system-ui;
    font-weight: 600;
    font-style: normal;
}

h3{
    font-family: "Grandstander", system-ui;
    font-weight: 600;
    font-style: normal;
}

p{
    text-indent: 3%;
    font-family: "Grandstander", system-ui;
    font-weight: 250;
    font-style: normal;
}

ol{
    font-family: "Grandstander", system-ui;
    font-weight: 250;
    font-style: normal;
}

ul{
    font-family: "Grandstander", system-ui;
    font-weight: 250;
    font-style: normal;
}

a{
    text-decoration: solid;
    color: black;
    font-family: "Grandstander", system-ui;
    font-weight: 750;
    font-style: normal;
}

a:hover{
    text-decoration: underline;
    color: purple;
}

nav{
    padding: 50px;
    width: 500px;
    margin: 0 auto;
}

nav a{
    
    padding: 5px;
    font-size: 25px;
    margin-right: 20px;
    background-color: rgb(227, 182, 248);
}

.imageGallery{
    width: 250px;
    border-style: solid;
    border-color: rgb(171, 171, 171);
    border-width: 7px 7px 7px 7px;
    margin-left: 45px;
}

.cd{
    border-bottom-style: inherit;
    border-width: 5px;
    color :burlywood;
}

.jj{
    border-bottom-style: double;
    border-width: 5px;
    color :rgb(71, 37, 65);
}

.deebo{
    border-left-style: groove;
    border-width: 4px;
    border-color: #5d0c88;
    padding: 5px;
}

.reed{
    border-left-style: groove;
    border-width: 4px;
    border-color: #dd94f1;
    padding: 5px;
}

